<h3>{{title}} - {{displayQuery | uppercase}} - Page: {{page}}</h3>
<nav>
    <a routerLink="/search" routerLinkActive="active">
      <button>Search for Repositories</button>
    </a>
    <a routerLink="/searchUsers" routerLinkActive="active">
      <button>Search for Users</button>
    </a>
</nav>
<!-- <form (keyup) = "keyUpFunction($event)"> -->
  <form (ngSubmit)="sendQuery()" [formGroup]="form">
    <div *ngFor = "let key of modelKeys">
      {{key}} <input placeholder="Enter {{key}} here" formControlName = "{{key}}"/>
    </div>
    <button type = 'submit' [disabled]="!form.valid">Submit</button>
  <!-- <input name="query" placeholder="Enter Search Here" [(ngModel)]="searchQuery"/> -->
  <!-- <button (click)="sendQuery()">Submit</button> -->
</form>
<div *ngIf="searchResults; else elseBlock">
    <button (click)="previous()" *ngIf="page !== 1">Previous</button>
    <button (click)="next()" *ngIf="nextPage">Next</button>
  <div *ngIf="searchResults.total_count !== 0; else elseBlock2">
    <p class="many_result" *ngIf="searchResults.total_count > 1000">Many results. Please, restrict your search.</p>
    <h3 class="total">Total Results: {{searchResults.total_count}}</h3>
    <ul class="list">
      <li [ngClass]="{'silver': (i % 2 === 0), 'white': (i % 2 !== 0)}" class="list_item" *ngFor="let result of searchResults.items; index as i;">
        <a [href]="result.html_url" target="_blank">
          <img class="avatar" [src]="result.avatar_url" />
          <h4 class="title">{{ result.login }}
            <small>score {{result.score}}</small>
          </h4>
        </a>
      </li>
    </ul>
  </div>
  <button (click)="previous()" *ngIf="page !== 1">Previous</button>
  <button (click)="next()" *ngIf="nextPage">Next</button>
</div>
<ng-template #elseBlock>Loading...</ng-template>
<ng-template #elseBlock2>
  <h2 class="title">No results...</h2>
</ng-template>